<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="odom" />

    <node pkg="explore_lite_revised"
          type="explore_lite_revised"
          name="explore_lite_revised"
          respawn="false"
          output="screen"
          launch-prefix="xterm -geometry 93x31+100+350 -e">
        <!--todo manage terminal postion a little bit better-->

        <rosparam file="$(find explore_lite_revised)/param/explore_lite_revised.yaml" command="load" />
        <rosparam file="$(find explore_stack)/param/explore_lite_revised.yaml" command="load" />
        <!--<param name="robot_base_frame" value="base_link"/>-->
        <!--<param name="costmap_topic" value="map"/>-->
        <!--<param name="costmap_updates_topic" value="map_updates"/>-->
        <!--<param name="visualize" value="true"/>-->
        <!--<param name="planner_frequency" value="0.33"/>-->
        <!--<param name="progress_timeout" value="30.0"/>-->
        <!--<param name="potential_scale" value="3.0"/>-->
        <!--<param name="orientation_scale" value="0.0"/>-->
        <!--<param name="gain_scale" value="1.0"/>-->
        <!--<param name="transform_tolerance" value="0.3"/>-->
        <!--<param name="min_frontier_size" value="0.75"/>-->
    </node>

</launch>

