<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>



    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <arg name="odom_topic" default="odom" />


    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
        <arg name="model" value="$(arg model)"/>
    </include>

    <include file="$(find velocity_topic_watchdog)/launch/velocity_topic_watchdog.launch">
    </include>


    <!--GAZEBO-->
    <!--<arg name="world_name" default="turtlebot3_house"/>-->
    <arg name="world_name" default="turtlebot3_stage_3"/>


    <arg name="x_pos" default="0.0" unless="$(eval world_name == 'turtlebot3_house')"/>
    <arg name="y_pos" default="0.0" unless="$(eval world_name == 'turtlebot3_house')"/>
    <arg name="z_pos" default="0.0" unless="$(eval world_name == 'turtlebot3_house')"/>
    <arg name="x_pos" default="-3.0" if="$(eval world_name == 'turtlebot3_house')"/>
    <arg name="y_pos" default="1.0" if="$(eval world_name == 'turtlebot3_house')"/>
    <arg name="z_pos" default="0.0" if="$(eval world_name == 'turtlebot3_house')"/>


    <!--http://answers.gazebosim.org/question/16076/running-gazebo-on-docker-affects-simulation-speed-meshes-and-world-objects/-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ast_stack)/worlds/$(arg world_name).world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="false"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node name="spawn_urdf"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    <!--GAZEBO-->


    <node name="rviz"
          pkg="rviz"
          type="rviz"
          args="-d $(find ast_stack)/rviz/move_base_tuning.rviz"
    />



    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>

    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>


    <include file="$(find turtlebot3_slam)/launch/turtlebot3_$(arg slam_methods).launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="configuration_basename" value="$(arg configuration_basename)"/>
    </include>
    <!--/ SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->




    <!-- move_base -->
    <include file="$(find ast_move_base)/launch/move_base.launch">
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
        <arg name="cmd_vel_topic" default="/cmd_vel" />
        <arg name="odom_topic" default="odom" />
    </include>
    <!-- /move_base -->


    <include file="$(find ast_stack)/launch/ast_explore_lite.launch">
    </include>
    


</launch>
