<launch>
    <arg name="velocity_topic" default="cmd_vel"/>
    <node pkg="cmd_vel_watchdog"
          type="cmd_vel_watchdog"
          respawn="true"
          name="cmd_vel_watchdog"
          output="screen">
        <remap from="cmd_vel" to="$(arg velocity_topic)"/>
    </node>
    <param name="watchdog_patience" value="10.0" type="double"/>
</launch>
